{% extends 'base.html.twig' %}

{% block title %}Jordan - Home{% endblock %}

{% block body %}
    <h1 class = "text-center mt-5 fs-1 fw-bold">Welcome to Jordan</h1>
    <h2 class = "text-center mt-3 text-danger">Our Products</h2>
    <div class="container">
        <div class="row justify-content-center">
            {% for product in products %}
                <div class="col-md-4 d-flex justify-content-center mb-4">
                    <div class="card shadow-sm border-danger" style="max-width: 18rem; width: 100%;">
                        <img src="{{ product.image }}" class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h3 class="card-title">{{product.name}}</h3>
                            <h4>{{product.model}}</h4>
                            <h5>{{product.price}}</h5>
                            <a href="#" class="btn btn-danger">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center mt-4">
        </div>
    </div>
{% endblock %}